<meta http-equiv="refresh" content="1800">

<% title @experiment.name %>

<section class="header">
  <header>
    <h1><%= @experiment.name %></h1>
    <h2>Experiment results</h2>
  </header>
</section>

<section class="experiment">
  <nav class="nav">
    <ul>
      <li><a>Variants</a></li>
      <li><a>Chart</a></li>
    </ul>
  </nav>

  <article>
    <article class="container">
      <h3>Variants:</h3>

      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Conversions / Visitors</th>
            <th>Conversion rate</th>
            <th>Probability</th>
            <th>Improvement</th>
          </tr>
        </thead>

        <% @variants.each do |variant| %>
          <%
            percent_conversion_rate = variant.percent_conversion_rate
            probability             = variant.probability
            percent_difference      = variant.percent_difference
          %>

          <tr>
            <td class="name"><%= variant.full_name %></td>
            <td class="overall"><%= variant.completed_count %> / <%= variant.started_count %></td>
            <td class="conversion <%= dir(percent_conversion_rate) %>"><%= percent_conversion_rate %></td>
            <td class="probability <%= dir(probability) %>"><%= probability %></td>
            <td class="difference <%= dir(percent_difference) %>"><%= percent_difference %></td>
          </tr>
        <% end %>
      </table>
    </article>

    <div>
      <article class="container">
        <h3>Conversion over time:</h3>

        <div class="chart"></div>
      </article>
    </div>
  </article>
</section>

<script type="text/javascript" charset="utf-8">
  jQuery(function($){
    var Chart = require('admin/chart');
    var chart = new Chart({
      el:    $('.chart'),
      model: <%== @experiment.to_json %>
    });
    chart.fetch();
  });
</script>