<% title 'Experiments' %>

<section class="header">
  <header>
    <h1>Experiments</h1>
    <h2>Your a/b tests and results</h2>
  </header>
</section>

<section class="experiments">
  <% @experiments_by_application.each do |application, experiments| %>
    <article class="container list">
      <h3><%= application %></h3>

      <table class="table">
        <thead>
          <tr>
            <th class="state"></th>
            <th class="index">#</th>
            <th class="name">Name</th>
            <th class="description">Description</th>
            <th class="visitors">Visitors</th>
            <th class="started">Started</th>
            <th class="updated">Updated</th>
            <th class="actions"></th>
          </tr>
        </thead>

        <% experiments.each_with_index do |experiment, i| %>
          <tr>
            <td class="state"><div class="<%= experiment.running ? "active" : "inactive" %>" title="<%= experiment.running ? "Running" : "Stopped" %>"></div></td>
            <td class="index"><%= i + 1 %></td>

            <td class="name">
              <a href="/admin/experiments/<%= experiment.id %>">
                <%= experiment.name %>
              </a>
            </td>

            <td class="description">
              <%= experiment.description %>
            </td>

            <td class="visitors">
              <%= experiment.started_count %>
            </td>

            <td class="started">
              <%= experiment.created_at %>
            </td>

            <td class="updated">
              <%= experiment.updated_at %>
            </td>

            <td class="actions">
              <a href="/admin/experiments/<%= experiment.id %>" data-method="delete" data-confirm="Are you sure?">
                Delete
              </a>
            </td>
          </tr>
        <% end %>
      </table>
    </article>
  <% end %>
</section>
